:root {
  /* Font Sizes */
  --fs-400: clamp(0.8594rem, 0.8177rem + 0.2083vw, 1rem);
  --fs-500: clamp(1.0313rem, 0.9664rem + 0.3241vw, 1.25rem);
  --fs-600: clamp(1.2375rem, 1.1412rem + 0.4815vw, 1.5625rem);
  --fs-700: clamp(1.485rem, 1.3463rem + 0.6935vw, 1.9531rem);
  --fs-800: clamp(1.7819rem, 1.5865rem + 0.9769vw, 2.4413rem);
  --fs-900: clamp(2.1381rem, 1.8674rem + 1.3537vw, 3.0519rem);
  --fs-1000: clamp(2.5663rem, 2.1963rem + 1.85vw, 3.815rem);
  --fs-1100: clamp(3.0794rem, 2.579rem + 2.5019vw, 4.7681rem);
  --fs-1200: clamp(3.695rem, 3.0237rem + 3.3565vw, 5.9606rem);

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  /* Font Families */
  --ff-primary-100: "Manrope", sans-serif;

  /* Colour Palette */
  --clr-primary-100: hsl(193, 38%, 86%);
  --clr-primary-200: hsl(150, 100%, 66%);

  --clr-neutral-100: hsl(217, 19%, 38%);
  --clr-neutral-200: hsl(217, 19%, 24%);
  --clr-neutral-300: hsl(218, 23%, 16%);

  /* Spacing */
  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 40px;
  --spacing-xl: 48px;
  --spacing-2xl: 56px;
  --spacing-3xl: 64px;
  --spacing-4xl: 72px;
  --spacing-5xl: 80px;
  --spacing-6xl: 88px;
  --spacing-7xl: 96px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

* {
  font-family: var(--ff-primary-100);
}

h1 {
  text-transform: uppercase;
  color: var(--clr-primary-200);
  letter-spacing: 2px;
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  padding-top: 16px;
}

body {
  background-color: var(--clr-neutral-300);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

main {
  width: min(100%, 450px);
  margin: 0 auto;
  background-color: var(--clr-neutral-200);
  border-radius: 6px;
  position: relative;
  padding: 32px 32px 64px 32px;
}

.advice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advice p {
  margin-top: 24px;
  color: var(--clr-primary-100);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-600);
  text-align: center;
  line-height: 1.4;
}

.separator {
  background-image: url("images/pattern-divider-mobile.svg");
  width: 100%;
  height: 16px;
  background-repeat: no-repeat;
  margin-top: 24px;
  background-position: center;
}

@media (min-width: 768px) {
  .separator {
    background-image: url("images/pattern-divider-desktop.svg");
    width: 100%;
    height: 16px;
    background-repeat: no-repeat;
    margin-top: 24px;
    background-position: center;
  }
}

button {
  background-image: url("images/icon-dice.svg"); /* Replace with your image path */
  background-size: 24px; /* Cover ensures the entire button is filled */
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr-primary-200);
  width: 64px; /* Adjust width as needed */
  height: 64px; /* Adjust height as needed */
  border: none; /* Remove default border */
  color: white; /* Change text color as needed */
  text-align: center;
  padding: 10px; /* Adjust padding as needed */
  cursor: pointer;
  position: absolute;
  bottom: -32px;
  border-radius: 100%;
}

button:hover {
  box-shadow: 0 0 25px 0px hsl(150, 100%, 66%, 0.7); /* Adjust the color and size as needed */
}
